.reading-container {
  background-color: var(--primary-color);
}

.component-container {
  height: 50vh;
}

.cloud-container {
  position: relative;
  height: 50vh;
}

.cloud1-img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cloud2-img {
  position: absolute;
  bottom: 0;
  width: 110%;
} 

.cloud3-img {
  position: absolute;
  bottom: 0;
  width: 120%;
}

.cloud4-img {
  position: absolute;
  bottom: 10%;
  right: 30%;
  width: 50%;
  animation: cloudAnimation 20s linear infinite;
  animation-delay: 0s, 0.5s; 
  z-index: 1;
}

.cloud5-img {
  position: absolute;
  bottom: 150px;
  right: 500px;
  width: 50%;
  animation: cloudAnimation 25s linear infinite;
  z-index: 1;
}

.cloud6-img {
  position: absolute;
  bottom: 200px;
  right: 1200px;
  width: 50%;
  animation: cloudAnimation 30s linear infinite;
  z-index: 1;
}

@keyframes cloudAnimation {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  3% {
    transform: translateX(99%);
    opacity: 1;
  }
  97% {
    transform: translateX(-99%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.leftbirds-img {
  position: absolute;
  width: 20%;
  bottom: 25px;
  left: 50px;
}

.rightbirds-img {
  position: absolute;
  width: 30%;
  bottom: 25px;
  right: 50px;
}

.leftbirds-img {
  transform: translate(-50%, -50%);
  animation: leftBirdAnimation 20s linear infinite;
}

.rightbirds-img {
  transform: translate(-50%, -50%);
  animation: rightBirdAnimation 15s linear infinite;
}


@keyframes leftBirdAnimation {
  0%, 100% {
    transform: translate(0, 0) scale(1.2); 
    opacity: 0;
  }
  25% {
    transform: translate(30px, -30px) scale(1); 
    opacity: 1;
  }
  50% {
    transform: translate(0, 0) scale(1.2); 
    opacity: 1;
  }
  75% {
    transform: translate(-30px, 30px) scale(1); 
    opacity: 0;
  }
}


@keyframes rightBirdAnimation {
  0%, 100% {
    transform: translate(0, 0) scale(1); 
    opacity: 0;
  }
  25% {
    transform: translate(30px, -30px) scale(1.2); 
    opacity: 1;
  }
  50% {
    transform: translate(0, 0) scale(1.2); 
    opacity: 1;
  }
  75% {
    transform: translate(-30px, 30px) scale(1); 
    opacity: 0;
  }
}

@media (max-width: 992px) {

}