.cta-container {
  padding: 5% 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-text {
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  margin: 0 3%;
}

.cta-container .header-2 {
  text-align: left;
  align-items: start;
  padding-bottom: 60px;
}

.link {
  text-decoration: none;
  color: 'inherit';
  text-decoration: 'inherit';
}

.cta-button {
  background-color: var(--accent-1-color);
  color: var(--background-color);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: none;
  margin-top: 60px;
  font-weight: 600;
  font-size: large;
  height: 50px;
  width: 225px;
  color: 'inherit';
  text-decoration: 'inherit';
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cta-container button:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  transform: translateX(15px);
}

.cta-container button:active {
  background-color: var(--accent-4-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cta-image {
  width: 400px;
  height: auto;
  margin-right: 10%;
}