.features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  margin-bottom: 5%;
}

.features-container .header-2 {
  text-align: center;
}

.features-container .divider {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  border-bottom: 1px solid var(--text-color);
  margin: 3% 0;
}

.features {
  display: flex;
  justify-content: space-between;
}

.feature-container {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.icon-img {
  width: 150px;
  height: 150px;
}

.features-container .header-3 {
  color: var(--accent-1-color);
  margin: 8% 0 5% 0;
}