
.features-container .header-2 {
  text-align: center;
}

.features-container .divider {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--text-color);
  margin: 3% 0;
}

.feature-container {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.icon-img {
  width: 150px;
  height: 150px;
}

.features-container .header-3 {
  color: var(--accent-1-color);
  margin: 8% 0 5% 0;
}