.navbar-container {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.logo {
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  width: fit-content;
  color: black;
}

li {
  list-style: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 10px 15px;
}

li:hover {
  color: var(--background-color);
  background-color: var(--text-color);
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

ul {
  display: flex;
  justify-content: space-between;
}

