.educational-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto 100px auto;
}

.educational-collapsible-section {
  flex: 2;
}

.educational-container .header-1 {
  flex: 1;
  text-align: start;
}

.educational-container .divider {
  border-bottom: 2px solid black;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible-icon {
  cursor: pointer;
}

.invisible {
  display: none;
}

.educational-container div {
  margin-bottom: 3%;
}

.educational-container p {
  margin-bottom: 3%;
}


