
.footer-container {
  background-color: var(--accent-4-color); 
  text-align: center;
}

.footer-links .footer-nav {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links .footer-item {
  margin: 0 10px;
  display: inline;
}

.footer-links .footer-item a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s;
}

.footer-links .footer-item a:hover {
  text-decoration: underline;
}

.copyright-container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  font-size: 14px;
  color: var(--background-color);
}

.footer-container .divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100px;
  width: 100%;
  background-color: var(--primary-color);
}