.shuffle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 11%;
}

h1 {
  margin: 5% 5%;
}

.shuffle-deck-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
  margin-bottom: 10%;
}

.shuffle-card {
  width: 112px; 
  height: 188px; 
  margin-right: -80px;
  cursor: pointer;
  transition: margin-top 0.1s ease-in-out;
}

.shuffle-card.hover-effect-class:hover {
  margin-top: -40px;
}

.selected-container {
  position: relative;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.selected-container > div {
  width: 112px;
}

.selected {
  width: 112px; 
  height: 188px;
  margin-right: 0;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.invisible {
  display: none;
}

.visible {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  padding: 3% 5%;
  margin-top: 60px;
  height: 20px;
  z-index: 999;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.fadeOutDown {
  animation-name: fadeOutDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}
  
@keyframes fadeOutDown {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  }
}

.card {
  width: 112px; 
  height: 188px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}
.card-inner {
  width: 112px; 
  height: 188px;
  transform-style: preserve-3d;
  transition: transform 0.7s;
  transform: rotateY(0);
}

.card-inner.flippedd {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 112px; 
  height: 188px;
  position: absolute;
  backface-visibility: hidden;
}

.card-back > img {
  width: 112px; 
  height: 188px;
}

.card-back {
  background: lightblue;
  transform: rotateY(180deg);
}

.reversed {
  transform: scaleY(-1);
}