@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  border: 3px solid red;
}

:root {
  --text-color: #000000;
  --background-color: #FFFFFF;
  --primary-color: #E7E8EA;
  --accent-1-color: #499292;
  --accent-2-color: #E8E5DF;
  --accent-3-color: #D2C6C6;
  --accent-4-color: #667575;

  --header-0-font-family: 'Montserrat';
  --header-0-font-size: 48px;
  --header-0-font-style: normal;
  --header-0-font-weight: 500;
  --header-0-line-height: normal;
  --header-0-letter-spacing: 9.6px;

  --header-1-font-family: 'Montserrat';
  --header-1-font-size: 48px;
  --header-1-font-style: normal;
  --header-1-font-weight: 400;
  --header-1-line-height: normal;
  --header-1-letter-spacing: 4.8px;

  --header-2-font-family: 'Montserrat';
  --header-2-font-size: 32px;
  --header-2-font-style: normal;
  --header-2-font-weight: 500;
  --header-2-line-height: normal;
  
  --header-2-bold-font-family: 'Montserrat';
  --header-2-bold-font-size: 32px;
  --header-2-bold-font-style: normal;
  --header-2-bold-font-weight: 700;
  --header-2-bold-line-height: normal;

  --header-3-font-family: 'Montserrat';
  --header-3-font-size: 24px;
  --header-3-font-style: normal;
  --header-3-font-weight: 400;
  --header-3-line-height: 30px;
  --header-3-letter-spacing: 1.2px;

  --text-font-family: 'Montserrat';
  --text-font-size: 16px;
  --text-font-style: normal;
  --text-font-weight: 400;
  --text-line-height: 40px;
  --text-letter-spacing: 0.8px;
}

/* Header 0 */
.header-0 {
  font-family: var(--header-0-font-family);
  font-size: var(--header-0-font-size);
  font-style: var(--header-0-font-style);
  font-weight: var(--header-0-font-weight);
  line-height: var(--header-0-line-height);
  letter-spacing: var(--header-0-letter-spacing);
}

/* Header 1 */
.header-1 {
  font-family: var(--header-1-font-family);
  font-size: var(--header-1-font-size);
  font-style: var(--header-1-font-style);
  font-weight: var(--header-1-font-weight);
  line-height: var(--header-1-line-height);
  letter-spacing: var(--header-1-letter-spacing);
}

/* Header 2 */
.header-2 {
  font-family: var(--header-2-font-family);
  font-size: var(--header-2-font-size);
  font-style: var(--header-2-font-style);
  font-weight: var(--header-2-font-weight);
  line-height: var(--header-2-line-height);
}

/* Header 2 Bold */
.header-2-bold {
  font-family: var(--header-2-bold-font-family);
  font-size: var(--header-2-bold-font-size);
  font-style: var(--header-2-bold-font-style);
  font-weight: var(--header-2-bold-font-weight);
  line-height: var(--header-2-bold-line-height);
}

/* Header 3 */
.header-3 {
  font-family: var(--header-3-font-family);
  font-size: var(--header-3-font-size);
  font-style: var(--header-3-font-style);
  font-weight: var(--header-3-font-weight);
  line-height: var(--header-3-line-height);
  letter-spacing: var(--header-3-letter-spacing);
}

/* Text */
.text {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
}

/* Button */
button {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  font-weight: 700;
  width: fit-content;
  height: 50px;
  font-size: 20px;
  padding: 0% 30px;
  margin-top: 60px;
  z-index: 999;
  transition: all 0.3s ease-in-out; 
}

button:hover {
  background-color: var(--accent-1-color);
}

button:active {
  background-color: var(--accent-1-color);
  transform: scale(0.95);
}

/* Card */
.card {
  width: 112px; 
  height: 188px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Responsive Design */
@media (min-width: 765px) and (max-width: 1023px) {
  .menu {
    display: none;
  }

  .header-0 {
    font-size: 36px;
  }

  .header-1 {
    font-size: 32px;
  }

  .header-2 {
    font-size: 24px;
  }

  .header-2-bold {
    font-size: 24px;
  }

  .header-3 {
    font-size: 20px;
    font-weight: 500;
  }

  .card {
    width: 168px;
    height: 282px;
    margin-right: 25px;
  }

  button {
    font-size: 20px;
  }

  .text {
    font-size: 16px;
  }

  .navbar-container li {
    font-size: 14px;    
  }

  .features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    margin-bottom: 5%;
  }
  
  .features-container .header-2 {
    text-align: center;
  }
  
  .features-container .divider {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    border-bottom: 1px solid var(--text-color);
    margin: 3% 0;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
  }

  .cta-container .header-2 {
    text-align: left;
  }  
  
  .feature-container {
    flex: 1;
    text-align: center;
    padding: 20px;
  }
  
  .icon-img {
    width: 150px;
    height: 150px;
  }
  
  .features-container .header-3 {
    color: var(--accent-1-color);
    margin: 8% 0 5% 0;
  }

  .navbar-container li {
    font-size: 14px;
  }
  
  .shuffle-card {
    width: 112px; 
    height: 188px; 
    margin-right: -90px;
    cursor: pointer;
    transition: margin-top 0.1s ease-in-out;
    z-index: 999;
  }
}

@media (min-width: 1024px) {
  .menu {
    display: none;
  }
  
  .header-0 {
    font-size: 60px;
  }

  .header-1 {
    font-size: 60px;
  }

  .header-2 {
    font-size: 48px;
  }

  .header-2-bold {
    font-size: 48px;
  }

  .header-3 {
    font-size: 36px;
  }

  .text {
    font-size: 20px;
  }

  button {
    font-size: 24px;
  }

  .card {
    width: 224px;
    height: 376px;
    margin-right: 40px;
  }

  .cta-text {
    width: 515px;
    min-width: 515px;
  }

  .cta-container .header-2 {
    text-align: left;
  }
  
  .features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    margin-bottom: 5%;
  }  
  .features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    margin-bottom: 5%;
  }
  
  .features-container .header-2 {
    text-align: center;
  }
  
  .features-container .divider {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    border-bottom: 1px solid var(--text-color);
    margin: 3% 0;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
  }
  
  .feature-container {
    flex: 1;
    text-align: center;
    padding: 20px;
  }
  
  .icon-img {
    width: 150px;
    height: 150px;
  }
  
  .features-container .header-3 {
    color: var(--accent-1-color);
    margin: 8% 0 5% 0;
  }

  .navbar-container li {
    font-size: 20px;
  }
}

